body {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #0f0f0f;
  margin: 0rem;
  overflow: hidden;
}


h1 {
  font-family: 'Space Mono', monospace;
  font-size: clamp(3rem, 10vw, 10rem);
  color: white;
  padding: 0rem clamp(1rem, 2vw, 3rem);
  border-radius: clamp(0.4rem, 0.75vw, 1rem);
}

h1:hover {
  background-color: white;
  color: black;
}


.button, .button2 {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #3f3f3f;
  border-radius: 6px;
  margin: 5px;
}

.button:hover, .button2:hover {
  background-color: #575757;
}

.button2 {
  background-color: #3f3f3f;
}

.button2:hover {
  background-color: #575757;
}

