body {
  background-color: bisque;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


h1 {
  font-family: 'Courier New', monospace;
}

.button, .button2 {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #3498db;
  border-radius: 6px;
}

.button:hover, .button2:hover {
  background-color: #2980b9;
}

.button2 {
  background-color: #2ecc71;
}

.button2:hover {
  background-color: #27ae60;
}
